<div class="container-fluid">
	<div class="row">
		<div class="col-md-7">
			<div class="row">
				<table id="checkouttable">
					<tr>
						<td style="background-image: url(<%= asset_path("checkout-cart-header-middle.png") %>); vertical-align: bottom; background-position: 20px 0px; background-repeat: no-repeat;">
							<img src="<%= asset_path("checkout-cart-header-start.png") %>" style="position: relative; left: -4px;">
						</td>
						<td width="50%" style="background-image: url(<%= asset_path("checkout-cart-header-middle.png") %>); vertical-align: bottom;">
							<p style="color: white;">
								Product&nbsp;
							</p>
						</td>
						<td width="15%" style="background-image: url(<%= asset_path("checkout-cart-header-middle.png") %>); vertical-align: bottom;">
							<p style="color: white;">
								Price&nbsp;
							</p>
						</td>
						<td width="10%" style="background-image: url(<%= asset_path("checkout-cart-header-middle.png") %>); vertical-align: bottom;">
							<p style="color: white;">
								Qty&nbsp;
							</p>
						</td>
						<td width="15%" style="background-image: url(<%= asset_path("checkout-cart-header-middle.png") %>); vertical-align: bottom;">
							<p style="color: white;">
								Subtotal
							</p>
						</td>
						<td style="vertical-align: bottom;">
							<img src="<%= asset_path("checkout-cart-header-end.png") %>">
						</td>
					</tr>
					<tr ng-repeat="c in cart.shopping_cart_items" class="checkouttablerow">
						<td>&nbsp;{{(products | filter:{ id: c.product_id })[0].sku}}</td>
						<td>
							{{(products | filter:{ id: c.product_id })[0].short_description_en_US}}
						</td>
						<td>
							{{c.unit_price| currency:"$":2}}
						</td>
						<td>
							{{c.qty}}
						</td>
						<td>
							{{(c.unit_price * c.qty)| currency:"$":2}}
						</td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-md-5">
			<div class="row">
				<div class="col-md-12" style="padding-top: 30px; padding-bottom: 30px;">
					<img src="<%= asset_path("progress-checkout.png") %>">
				</div>
			</div>
			<div style="border-color: #ddd; border-width: 1px; border-radius: 4px 4px 0 0; border-style: solid;">
				<div class="row">
					<div class="col-md-12" style="padding-top: 30px; padding-bottom: 30px;">
						<p class="text-center">
<!-- 							<img src="<%= asset_path("checkout-confirm-payment.png") %>"> -->
							<a ng-click="doPayPal()">
							<img src="<%= asset_path("EC-button.gif") %>">
							</a>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div style="padding-left: 15%; padding-right: 15%;">
							<span class="left">Product Amount</span>
							<span class="right">$ {{total}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div style="padding-left: 15%; padding-right: 15%;">
							<span class="left">Delivery Fee</span>
							<span class="right">$0.00</span>
						</div>
					</div>
				</div>
				<hr style="border-top-color: #777777; margin-left: 15%; margin-right: 15%;">
				<div class="row">
					<div class="col-md-12">
						<div style="padding-left: 15%; padding-right: 15%;">
							<big style="color: red;">
								<span class="left">Grand Total</span>
								<span class="right">$ {{total}}</span>
							</big>
						</div>
					</div>
				</div>
				<br>
				<br>
				<div class="row">
					<div class="col-md-12">
						<div style="padding-left: 15%; padding-right: 15%;">
							Delivery Address
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div style="border-color: #ddd; border-width: 2px; border-radius: 4px 4px 0 0; border-style: dashed; margin-left: 5%; margin-right: 5%; padding: 5%;">
							<span class="left">Recevier:</span>
							<span class="right">Victor Kam</span>
							<br>
							<span class="left">Contact:</span>
							<span class="right">9883 2589</span>
							<br>
							<span class="left">Email:</span>
							<span class="right">abc2@hotmail.com</span>
							<br>
							<br>
							Address:
							<br>
							Rm 2013, ABC Garden, 2, Oi Tung Road, Sha Tin, N.T.
							<br>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div style="padding-left: 15%; padding-right: 15%;">
							<small><span class="right">Edit/Change</span></small>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div style="padding-left: 15%; padding-right: 15%;">
							Discount Code
							<br>
							<input type="text">
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<div style="padding-left: 15%; padding-right: 15%;">
							Payment Method
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div style="padding-left: 5%; padding-right: 5%;">
<!-- 							<label>
								<input type="radio" name="payment-method" value="visa">
								<img src="<%= asset_path("visa.png") %>">
							</label> -->
						</div>
					</div>
				</div>
<!-- 				<div class="row">
					<div class="col-md-12" style="padding-top: 30px; padding-bottom: 30px;">
						<p class="text-center">
							<img src="<%= asset_path("checkout-confirm-payment.png") %>">
						</p>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>