<div id="product-details" class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<div class="row">
				<div class="col-md-12">
					<div class="dv-continer-left">
						<div class="form-group">
							<div class="dv-quick-check-header"></div>
							<div class="dv-quick-check-body">
								<ul>
									<li><p>0-6 months <span>></span></p></li>
									<li><p>7-1 months <span>></span></p></li>
									<li><p>12-24 months <span>></span></p></li>
									<li><p>0-2 years old <span>></span></p></li>
									<li><p>3-5 years old <span>></span></p></li>
									<li><p>6-9 years old <span>></span></p></li>
									<li><p>10 years old + <span>></span></p></li>
								</ul>
							</div>
						</div>
						<div class="form-group">
							<div class="dv-what-kids-love-header"></div>
							<div class="dv-what-kids-love-body">
								<ul>
									<li><p>Lego <span>></span></p></li>
									<li><p>Thomas <span>></span></p></li>
									<li><p>My Little Pony <span>></span></p></li>
									<li><p>Frozen <span>></span></p></li>
									<li><p>Barbie <span>></span></p></li>
									<li><p>Hot Wheels <span>></span></p></li>
									<li><p>Monsters University <span>></span></p></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="products row">
				<div class="sort-tags">
					<div class="row">
						<div class="col-md-7">
							<strong>Products > baby > learning > Preschool Toy</strong>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-md-6">
							<div class="dv-selected-image">
								<img src="<%= asset_path("product/img-selected.png") %>" width="100%">
							</div>
							<div class="dv-thumb-images">
								<div class="row">
									<div class="col-md-2"><img src="<%= asset_path("product/img-thumbnail.png") %>"></div>
									<div class="col-md-2"><img src="<%= asset_path("product/img-thumbnail.png") %>"></div>
									<div class="col-md-2"><img src="<%= asset_path("product/img-thumbnail.png") %>"></div>
									<div class="col-md-2"><img src="<%= asset_path("product/img-thumbnail.png") %>"></div>
									<div class="col-md-2"><img src="<%= asset_path("product/img-thumbnail.png") %>"></div>
								</div>
							</div>
							<div class="dv-social">
								<div class="row">
									<div class="col-md-4"><div class="btn-facebook"></div></div>
									<div class="col-md-4"><div class="btn-twitter"></div></div>
									<div class="col-md-4"><div class="btn-email"></div></div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="dv-product-description-header">
								<h1>PRESCHOOLERS CLADY</h1>
								<div class="dv-product-logo"><img src="<%= asset_path("product/img-product-logo.png") %>"></div>
								<h3>AGE: 12-36 months</h3>
							</div>
							<div class="clear"></div>
							<div class="dv-separator"></div>
							<div class="dv-product-description-body">
								<div class="dv-product-description">
									<p>Description: </p>
									<p>Lorem ipsum dolor sit amet, nam populo semper dictas ex, ea quod erat sapientem mea. Eu vis duis sanctus delenit, purto nemore everti eos no, id inani graecis epicurei duo. Ut alii neglegentur sit, dicta tation invidunt has ne. An eum offendit volutpat.</p>
								</div>
								<div class="dv-product-feature">
									<p>Features: </p>
									<p>Lorem ipsum dolor sit amet, nam populo semper dictas ex, ea quod erat sapientem mea. Eu vis duis sanctus delenit, purto nemore everti eos no, id inani graecis epicurei duo. Ut alii neglegentur sit, dicta tation invidunt has ne. An eum offendit volutpat.</p>
								</div>
							</div>
							<div class="clear"></div>
							<div class="dv-separator"></div>
							<div class="dv-others">
								<table border="0">
									<tbody>
										<tr>
											<td><p>Product Id:</p></td>
											<td><p>076254619-889</p></td>
										</tr>
										<tr>
											<td><p>Categories:</p></td>
											<td><p>Education</p></td>
										</tr>
										<tr>
											<td><p>Price:</p></td>
											<td><p>$456.0</p></td>
										</tr>
									</table>
								</table>
							</div>
							<div class="btn-add-to-bag"></div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="dv-related-products-header">
						<h4>Related Products</h4>
					</div>
					<div class="dv-related-products-body">
						<div class="col-xs-3 col-md-3">
							<div class="product">
								<div class="banner">
									<img src="<%= asset_path("product/img-product-0001.png") %>" width="94%">
								</div>
								<div class="caption">
									<h3>Thomas the Tank Engine</h3>
									<h4>Best Learning Kit</h4>
									<p>Explore the fascinating world of Thomas & Friends, Through the exciting adventures of Thomas the Tank Engine and his ...</p>
									<span class="amount">$ 336.50</span>
									<a class="cmd like"></a>
									<a class="cmd add"></a>
								</div>
							</div>
						</div>

						<div class="col-xs-3 col-md-3">
							<div class="product">
								<div class="banner">
									<img src="<%= asset_path("product/img-product-0001.png") %>" width="94%">
								</div>
								<div class="caption">
									<h3>Bandai Kyoryuger DX K...</h3>
									<h4>Best Learning Kit</h4>
									<p>Ages: 4+; Exclusive offer - FREE Kyoryuger Watch with purchase of any Kyoryuger items over $500. Please refer to in-store poster for details, While stock lasts...</p>

									<span class="amount">$ 336.50</span>
									<a class="cmd like"></a>
									<a class="cmd add"></a>
								</div>
							</div>
						</div>

						<div class="col-xs-3 col-md-3">
							<div class="product">
								<div class="banner">
									<img src="<%= asset_path("product/img-product-0001.png") %>" width="94%">
								</div>
								<div class="caption">
									<h3>Digital learning card</h3>
									<h4>Best Learning Kit</h4>
									<p>The Nike Tailwind Loose Women's Running Tank Top is made with sweat-wicking fabric to help you stay dry and comfortable on your run.</p>
									<span class="amount">$ 336.50</span>
									<a class="cmd like"></a>
									<a class="cmd add"></a>
								</div>
							</div>
						</div>

						<div class="col-xs-3 col-md-3">
							<div class="product">
								<div class="banner">
									<img src="<%= asset_path("product/img-product-0001.png") %>" width="94%">
								</div>
								<div class="caption">
									<h3>Thomas the Tank Engine</h3>
									<h4>Best Learning Kit</h4>
									<p>Explore the fascinating world of Thomas & Friends, Through the exciting adventures of Thomas the Tank Engine and his ...</p>
									<span class="amount">$ 336.50</span>
									<a class="cmd like"></a>
									<a class="cmd add"></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="dv-related-products-header">
						<h4>Featured Products</h4>
					</div>
					<div class="dv-related-products-body">
						<div class="col-xs-3 col-md-3">
							<div class="product">
								<div class="banner">
									<img src="<%= asset_path("product/img-product-0001.png") %>" width="94%">
								</div>
								<div class="caption">
									<h3>Thomas the Tank Engine</h3>
									<h4>Best Learning Kit</h4>
									<p>Explore the fascinating world of Thomas & Friends, Through the exciting adventures of Thomas the Tank Engine and his ...</p>
									<span class="amount">$ 336.50</span>
									<a class="cmd like"></a>
									<a class="cmd add"></a>
								</div>
							</div>
						</div>

						<div class="col-xs-3 col-md-3">
							<div class="product">
								<div class="banner">
									<img src="<%= asset_path("product/img-product-0001.png") %>" width="94%">
								</div>
								<div class="caption">
									<h3>Bandai Kyoryuger DX K...</h3>
									<h4>Best Learning Kit</h4>
									<p>Ages: 4+; Exclusive offer - FREE Kyoryuger Watch with purchase of any Kyoryuger items over $500. Please refer to in-store poster for details, While stock lasts...</p>

									<span class="amount">$ 336.50</span>
									<a class="cmd like"></a>
									<a class="cmd add"></a>
								</div>
							</div>
						</div>

						<div class="col-xs-3 col-md-3">
							<div class="product">
								<div class="banner">
									<img src="<%= asset_path("product/img-product-0001.png") %>" width="94%">
								</div>
								<div class="caption">
									<h3>Digital learning card</h3>
									<h4>Best Learning Kit</h4>
									<p>The Nike Tailwind Loose Women's Running Tank Top is made with sweat-wicking fabric to help you stay dry and comfortable on your run.</p>
									<span class="amount">$ 336.50</span>
									<a class="cmd like"></a>
									<a class="cmd add"></a>
								</div>
							</div>
						</div>

						<div class="col-xs-3 col-md-3">
							<div class="product">
								<div class="banner">
									<img src="<%= asset_path("product/img-product-0001.png") %>" width="94%">
								</div>
								<div class="caption">
									<h3>Thomas the Tank Engine</h3>
									<h4>Best Learning Kit</h4>
									<p>Explore the fascinating world of Thomas & Friends, Through the exciting adventures of Thomas the Tank Engine and his ...</p>
									<span class="amount">$ 336.50</span>
									<a class="cmd like"></a>
									<a class="cmd add"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>