<div id="hot-news">
	<a class="nav-left"></a>
	<a class="nav-right"></a>

	<div class="row">
		<div class="col-xs-4 col-md-4">
			<div class="header star">
				<h3>News & Events</h3>
			</div>
			<div class="banner">
				<!-- <img src="<%= asset_path("hot-news-banner-001.jpg") %>" width="100%"> -->
			</div>
			<div class="caption">
				<h3><a href="http://www.ibabyworld.com/#/ibaby?article=4">剛出生的寶寶愛哭只因2顆誕生牙</a></h3>
				<span>May 30, 2015 | <!-- <a href="">51 Likes</a> | --> <a href="">baby</a> | <a href="http://www.ibabyworld.com/#/ibaby?article=4">Read More ></a></span>
				<p>新生兒就長牙？爸爸媽媽有沒有聽說過呢？寶寶在出生時就存在的牙齒稱為“誕生牙”。據專家介紹，新生兒長牙齒的現象並不多見，每1100個正常新生兒中...</p>
			</div>
		</div>

		<div class="col-xs-4 col-md-4">
			<div class="header rainbow">
				<h3>Promotion</h3>
			</div>
			<div class="banner">
				<img src="http://www.ibabyworld.com/uploads/articles/f1eba5347246d583ece4e7c0f29ef754.png" style="display: block;max-width:333px;max-height:212px;width: auto;height: auto;vertical-align: middle;">
			</div>
			<div class="caption red">
				<h3><a href="http://www.ibabyworld.com/#/ibaby?article=5">送【百家寶BB展曁兒童全方位學習博覽】</a></h3>
				<span>May 08, 2015 | <!-- <a href="">51 Likes</a> |  --><a href="">Promotion</a> | <a href="http://www.ibabyworld.com/#/ibaby?article=5">Read More ></a></span>
				<p>送【百家寶BB展曁兒童全方位學習博覽】(共100份)
第14屆百家寶BB展曁兒童全方位學習博覽又到, 今年我地有都有參展!為了答謝爸媽對我地支持, 
只需完成以下歩驟 ...</p>
			</div>
		</div>

		<div class="col-xs-4 col-md-4">
			<div class="header love-mom">
				<h3>Hot Picks</h3>
			</div>
			<div class="banner"></div>
			<div class="caption green">
				<h3><a href="http://www.ibabyworld.com/#/ibaby?article=2">2歲男童偷吃花生米被卡住，家長們注意啦！</a></h3>
				<span>May 30, 2015 | <!-- <a href="">51 Likes</a> |  --><a href="">baby</a> | <a href="http://www.ibabyworld.com/#/ibaby?article=2">Read More ></a></span>
				<p>2歲男童偷吃花生米被卡住喉嚨，所幸位置比較淺，醫生花了10多分鐘將花生米取出來；醫生：低齡兒童遠離堅果類食物！...</p>
				<!-- <h3>Coming Soon...</h3> -->
			</div>
		</div>
	</div>
</div>

<div id="featured-products">
	<div class="bg-img-cat"></div>
	<div class="bg-img-abc"></div>

	<div class="header">
		<a href="" class="more">Read More &gt;</a>
	</div>

	<div class="posts row">
		<div class="col-xs-3 col-md-3">
			<div class="banner">
				<img src="<%= asset_path("product-002.png") %>" width="100%">
			</div>
			<div class="caption">
				<h3>Thomas the Tank Engine</h3>
				<h4>Best Learning Kit</h4>
				<p>Explore the fascinating world of Thomas & Friends, Through the exciting adventures of Thomas the Tank Engine and his ...</p>
				<span class="amount">$ 336.50</span>
				<a class="cmd like"></a>
				<a class="cmd add"></a>
			</div>
		</div>

		<div class="col-xs-3 col-md-3">
			<span class="sale"></span>
			<div class="banner">
				<img src="<%= asset_path("product-001.png") %>" width="100%">
			</div>
			<div class="caption">
				<h3>Bandai Kyoryuger DX K...</h3>
				<h4>Best Learning Kit</h4>
				<p>Ages: 4+; Exclusive offer - FREE Kyoryuger Watch with purchase of any Kyoryuger items over $500. Please refer to in-store poster for details, While stock lasts...</p>
				<span class="discount">$410.00  </span><span class="amount">$ 200.00</span>
				<a class="cmd like"></a>
				<a class="cmd add"></a>
			</div>
		</div>

		<div class="col-xs-3 col-md-3">
			<div class="banner">
				<img src="<%= asset_path("product-002.png") %>" width="100%">
			</div>
			<div class="caption">
				<h3>Thomas the Tank Engine</h3>
				<h4>Best Learning Kit</h4>
				<p>Explore the fascinating world of Thomas & Friends, Through the exciting adventures of Thomas the Tank Engine and his ...</p>
				<span class="amount">$ 336.50</span>
				<a class="cmd like"></a>
				<a class="cmd add"></a>
			</div>
		</div>

		<div class="col-xs-3 col-md-3">
			<div class="banner">
				<img src="<%= asset_path("product-003.png") %>" width="100%">
			</div>
			<div class="caption">
				<h3>Digital learning card</h3>
				<h4>Best Learning Kit</h4>
				<p>The Nike Tailwind Loose Women's Running Tank Top is made with sweat-wicking fabric to help you stay dry and comfortable on your run.</p>
				<span class="amount">$ 339.50</span>
				<a class="cmd like"></a>
				<a class="cmd add"></a>
			</div>
		</div>

		<div class="col-xs-3 col-md-3">
			<div class="banner">
				<img src="<%= asset_path("product-004.png") %>" width="100%">
			</div>
			<div class="caption">
				<h3>Digital Learning Card</h3>
				<h4>Best Learning Kit</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed lacinia erat, sed posuere odio. Donec bibendum non est sit amet auctor.</p>
				<span class="amount">$ 36.99</span>
				<a class="cmd like"></a>
				<a class="cmd add"></a>
			</div>
		</div>

		<div class="col-xs-3 col-md-3">
			<div class="banner">
				<img src="<%= asset_path("product-005.png") %>" width="100%">
			</div>
			<div class="caption">
				<h3>Digital Learning Card</h3>
				<h4>Best Learning Kit</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed lacinia erat, sed posuere odio. Donec bibendum non est sit amet auctor.</p>
				<span class="amount">$ 36.99</span>
				<a class="cmd like"></a>
				<a class="cmd add"></a>
			</div>
		</div>

		<div class="col-xs-3 col-md-3">
			<div class="banner">
				<img src="<%= asset_path("product-006.png") %>" width="100%">
			</div>
			<div class="caption">
				<h3>Digital Learning Card</h3>
				<h4>Best Learning Kit</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed lacinia erat, sed posuere odio. Donec bibendum non est sit amet auctor.</p>
				<span class="amount">$ 36.99</span>
				<a class="cmd like"></a>
				<a class="cmd add"></a>
			</div>
		</div>

		<div class="col-xs-3 col-md-3">
			<div class="banner">
				<img src="<%= asset_path("product-007.png") %>" width="100%">
			</div>
			<div class="caption">
				<h3>Digital Learning Card</h3>
				<h4>Best Learning Kit</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed lacinia erat, sed posuere odio. Donec bibendum non est sit amet auctor.</p>
				<span class="amount">$ 36.99</span>
				<a class="cmd like"></a>
				<a class="cmd add"></a>
			</div>
		</div>
		<!-- Coming Soon... -->
	</div>
</div>

<div id="featured-posts">
	<div class="header"></div>

	<div class="row">
		<div class="col-md-8">
			<div class="post">
				<div class="banner">
					<img src="<%= asset_path("featured-posts-banner-001") %>" alt="" width="100%"/>
				</div>

				<div class="text-left">
					<h5 class="left text-uppercase"><a href="">Lorem ipsum dolor sit amet</a></h5>
					<p class="posted">Posted on April 4, 2015 By <a href="">Little Moon and friends</a></p>

					<div class="clear"></div>
				</div>

				<div class="caption">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed lacinia erat, sed posuere odio. Donec bibendum non est sit amet auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse potenti. Proin ac elit sit amet neque finibus varius.</p>
				</div>
			</div>

			<div class="post">
				<div class="banner">
					<img src="<%= asset_path("featured-posts-banner-002") %>" alt="" width="100%"/>
				</div>

				<div class="text-left">
					<h5 class="left text-uppercase"><a href="">Lorem ipsum dolor sit amet</a></h5>
					<p class="posted">Posted on April 4, 2015 By <a href="">Little Moon and friends</a></p>

					<div class="clear"></div>
				</div>

				<div class="caption">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed lacinia erat, sed posuere odio. Donec bibendum non est sit amet auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse potenti. Proin ac elit sit amet neque finibus varius.</p>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div id="tab-posts">
				<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
					<li><a href="#first" data-toggle="tab">First</a></li>
					<li class="active"><a href="#second" data-toggle="tab">Second</a></li>
				</ul>
    			
    			<div class="tab-content">
        			<div class="tab-pane active" id="first"></div>

        			<div class="tab-pane active" id="second">
						<ul class="posts">
							<li>
								<div class="banner">
									<img src="<%= asset_path("dummy/post-thumb-002") %>" alt="..." width="56" class="img-rounded">
								</div>
								<div class="caption">
									<h4><a href="">Lorem ipsum dolor</a></h4>
									<span>April 7, 2015</span>
									<p>No comments</p>
								</div>
							</li>
							<li>
								<div class="banner">
									<img src="<%= asset_path("dummy/post-thumb-001") %>" alt="..." width="56" class="img-rounded">
								</div>
								<div class="caption">
									<h4><a href="">Lorem ipsum dolor</a></h4>
									<span>April 7, 2015</span>
									<p>No comments</p>
								</div>
							</li>
							<li>
								<div class="banner">
									<img src="<%= asset_path("dummy/post-thumb-001") %>" alt="..." width="56" class="img-rounded">
								</div>
								<div class="caption">
									<h4><a href="">Lorem ipsum dolor</a></h4>
									<span>April 7, 2015</span>
									<p>No comments</p>
								</div>
							</li>
						</ul>
						<div class="clear"></div >
        			</div>
   				 </div>
			</div>

			<img class="advertisement" src="<%= asset_path("poster-001.jpg") %>" alt="...">
		</div>
		<!-- Coming Soon... -->
	</div>
</div>