<div id="kids-fashion-details" class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<div class="row">
				<div class="col-md-12">
					<div class="dv-continer-left">
						<div class="form-group">
							<div class="dv-quick-check-header"></div>
							<div class="dv-quick-check-body">
								<ul>
									<li><p>0-6 months <span>></span></p></li>
									<li><p>7-1 months <span>></span></p></li>
									<li><p>12-24 months <span>></span></p></li>
									<li><p>0-2 years old <span>></span></p></li>
									<li><p>3-5 years old <span>></span></p></li>
									<li><p>6-9 years old <span>></span></p></li>
									<li><p>10 years old + <span>></span></p></li>
								</ul>
							</div>
						</div>
						<div class="form-group">
							<div class="dv-what-kids-love-header"></div>
							<div class="dv-what-kids-love-body">
								<ul>
									<li><p>Lego <span>></span></p></li>
									<li><p>Thomas <span>></span></p></li>
									<li><p>My Little Pony <span>></span></p></li>
									<li><p>Frozen <span>></span></p></li>
									<li><p>Barbie <span>></span></p></li>
									<li><p>Hot Wheels <span>></span></p></li>
									<li><p>Monsters University <span>></span></p></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="products row">
				<div class="sort-tags">
					<div class="row">
						<div class="col-md-7">
							<strong>Brands > C > Catimini</strong>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-md-6">
							<div class="dv-selected-image">
								<img src="<%= asset_path("product/img-selected-0002.png") %>" width="100%">
							</div>
							<div class="dv-thumb-images">
								<div class="row">
									<div class="col-md-2"><img src="<%= asset_path("product/img-thumbnail.png") %>"></div>
									<div class="col-md-2"><img src="<%= asset_path("product/img-thumbnail.png") %>"></div>
									<div class="col-md-2"><img src="<%= asset_path("product/img-thumbnail.png") %>"></div>
									<div class="col-md-2"><img src="<%= asset_path("product/img-thumbnail.png") %>"></div>
									<div class="col-md-2"><img src="<%= asset_path("product/img-thumbnail.png") %>"></div>
								</div>
							</div>
							<div class="dv-social">
								<div class="row">
									<div class="col-md-4"><div class="btn-facebook"></div></div>
									<div class="col-md-4"><div class="btn-twitter"></div></div>
									<div class="col-md-4"><div class="btn-email"></div></div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="dv-product-description-header">
								<h1>CATIMINI</h1>
								<div class="dv-product-logo"><img src="<%= asset_path("product/img-logo-catimini.png") %>"></div>
								<h3>AGE: 12-36 months</h3>
							</div>
							<div class="clear"></div>
							<div class="dv-separator"></div>
							<div class="dv-product-description-body">
								<div class="dv-product-description">
									<p>Description: </p>
									<p>Lorem ipsum dolor sit amet, nam populo semper dictas ex, ea quod erat sapientem mea. Eu vis duis sanctus delenit, purto nemore everti eos no, id inani graecis epicurei duo. Ut alii neglegentur sit, dicta tation invidunt has ne. An eum offendit volutpat.</p>
								</div>
								<div class="dv-product-feature">
									<p>Features: </p>
									<p>Lorem ipsum dolor sit amet, nam populo semper dictas ex, ea quod erat sapientem mea. Eu vis duis sanctus delenit, purto nemore everti eos no, id inani graecis epicurei duo. Ut alii neglegentur sit, dicta tation invidunt has ne. An eum offendit volutpat.</p>
								</div>
							</div>
							<div class="clear"></div>
							<div class="dv-separator"></div>
							<div class="dv-others">
								<table border="0">
									<tbody>
										<tr>
											<td><p>Product Id:</p></td>
											<td><p>076254619-889</p></td>
										</tr>
										<tr>
											<td><p>Categories:</p></td>
											<td><p>Education</p></td>
										</tr>
										<tr>
											<td><p>Price:</p></td>
											<td><p>$456.0</p></td>
										</tr>
									</table>
								</table>
							</div>
							<div class="btn-add-to-bag"></div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="dv-header">
						<h4>You may also like</div>
					</div>
					<div class="row">
						<div class="col-md-10">
							<div class="dv-products">

								<a class="arrow-left"></a>
								<a class="arrow-right"></a>
								<div class="row">
									<div class="col-xs-3 col-md-3">
										<div class="product">
											<div class="banner">
												<img src="<%= asset_path("product/img-dress-white.png") %>">
											</div>
											<div class="caption">
												<h3>Thomas the Tank Engine</h3>
												<h4>Best Learning Kit</h4>
												<p>Explore the fascinating world of Thomas & Friends, Through the exciting adventures of Thomas the Tank Engine and his ...</p>
												<span class="amount">$ 336.50</span>
												<a class="cmd like"></a>
												<a class="cmd add"></a>
											</div>
										</div>
									</div>

									<div class="col-xs-1 col-md-1"><div class="plus"></div></div>

									<div class="col-xs-3 col-md-3">
										<div class="product">
											<div class="banner">
												<img src="<%= asset_path("product/img-dress-red.png") %>">
											</div>
											<div class="caption">
												<h3>Bandai Kyoryuger DX K...</h3>
												<h4>Best Learning Kit</h4>
												<p>Ages: 4+; Exclusive offer - FREE Kyoryuger Watch with purchase of any Kyoryuger items over $500. Please refer to in-store poster for details, While stock lasts...</p>

												<span class="amount">$ 336.50</span>
												<a class="cmd like"></a>
												<a class="cmd add"></a>
											</div>
										</div>
									</div>

									<div class="col-xs-1 col-md-1"><div class="plus"></div></div>

									<div class="col-xs-3 col-md-3">
										<div class="product">
											<div class="banner">
												<img src="<%= asset_path("product/img-boots.png") %>">
											</div>
											<div class="caption">
												<h3>Digital learning card</h3>
												<h4>Best Learning Kit</h4>
												<p>The Nike Tailwind Loose Women's Running Tank Top is made with sweat-wicking fabric to help you stay dry and comfortable on your run.</p>
												<span class="amount">$ 336.50</span>
												<a class="cmd like"></a>
												<a class="cmd add"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<h4>Price for All:</h4>
							<p class="discount">$1,197.00</p>
							<p class="amount">$885.00</p>
							<p class="availability">Show availabily and shipping details</p> 
							<button id="btn-add-all" type="button" class="btn btn-warning">Add ALL </br > to Cart </br > Save 50%</button>
							<button id="btn-add-to-wist-list" type="button" class="btn btn-warning" disabled="disabled">Add to </br > Wist List</button>
						</div>

					</div>
					<div class="clear"></div>
					<div class="dv-separator"></div>
				</div>

				<div class="form-group">
					<div class="dv-header">
						<h4>2 Discussion</h4>
					</div>
					<div class="dv-main-discussion">
						<div class="row">
							<div class="col-md-1">
								<img src="<%= asset_path("product/img-avatar.png") %>">
							</div>
							<div class="col-md-11">
								<div class="message-container">
									<p>By <span class="user">User</span> | August 2, 2012  at 1:40 pm - <span class="status">Reply</span>

									<p class="messages">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="dv-feedback">
						<div class="row">
							<div class="col-md-1">
								<img src="<%= asset_path("product/img-avatar.png") %>">
							</div>
							<div class="col-md-11">
								<div class="message-container">
									<p>By <span class="user">User</span> | August 2, 2012  at 1:40 pm - <span class="status">Reply</span>

									<p class="messages">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="dv-header">
						<h4>Leave a Comment</h4>
					</div>
					<div class="dv-comment-form">
						<div class="form-group">
							<div class="col-sm-7">
								<input type="text" class="form-control left" id="lastName" name="lastName" placeholder="Name(Required)" style="width:220px;" required="" focus="">
								
								<input type="text" class="form-control right" id="firstName" name="firstName" placeholder="Email(Required)" style="width:220px;" required="">
							</div>
							
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								 <textarea class="form-control" rows="5" id="comment"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<button id="btn-comment" type="button" class="btn btn-warning ng-scope">Submit Comment</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>