<style>
	.btn-filter {
	  min-width: 67px;
	  background-color: #ff8522;
	  border: none;
	  border-radius: 30px;
	  padding: 4px;
	  padding-left: 10px;
	  padding-right: 11px;
	}


</style>
<div id="kids-fashion">
	<div class="row">
		<div class="col-md-9">
			<div class="products row">
				<div class="sort-tags">
					<div class="row">
						<div class="col-md-8">
							<strong>Sort by Categories > 
							<a href="">All</a> | 
							<a href="">Girls Fashion</a> | 
							<a href="">Boys Fashion</a> | 
							<a href="">Images</a> | 
							<a href="">Lookbook</a> | 
							<a href="">Videos</a></strong>
						</div>
						<div class="col-md-4">
							<div class="dv-btn-group">
								<div class="row">
									<div class="col-md-7"><div class="btn-sort-date"><p class="white">New Arrival <i class="fa fa-caret-down"></i></p></div></div>
									<div class="col-md-5"><div class="btn-sort-price"><p class="white">Price <i class="fa fa-caret-up"></i></p></div></div>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<div class="dv-separator"></div>
				</div>

				<div class="col-xs-4 col-md-4">
					<div class="product">
						<div class="banner" ng-click="viewItem()">
							<img src="<%= asset_path("product-002.png") %>" width="100%">
						</div>
						<div class="caption">
							<p>Product Title Here<br/><span>Short description here</span></p>
							<span class="amount">$ 336.50</span>
							<a class="cmd like"></a>
							<a class="cmd add"></a>
						</div>
					</div>
				</div>

				<div class="col-xs-4 col-md-4">
					<div class="product">
						<div class="banner" ng-click="viewItem()">
							<img src="<%= asset_path("product-002.png") %>" width="100%">
						</div>
						<div class="caption">
							<p>Product Title Here<br/><span>Short description here</span></p>
							<span class="amount">$ 336.50</span>
							<a class="cmd like"></a>
							<a class="cmd add"></a>
						</div>
					</div>
				</div>

				<div class="col-xs-4 col-md-4">
					<div class="product">
						<div class="banner" ng-click="viewItem()">
							<img src="<%= asset_path("product-002.png") %>" width="100%">
						</div>
						<div class="caption">
							<p>Product Title Here<br/><span>Short description here</span></p>
							<span class="amount">$ 336.50</span>
							<a class="cmd like"></a>
							<a class="cmd add"></a>
						</div>
					</div>
				</div>

				<div class="col-xs-4 col-md-4">
					<div class="product">
						<div class="banner" ng-click="viewItem()">
							<img src="<%= asset_path("product-002.png") %>" width="100%">
						</div>
						<div class="caption">
							<p>Product Title Here<br/><span>Short description here</span></p>
							<span class="amount">$ 336.50</span>
							<a class="cmd like"></a>
							<a class="cmd add"></a>
						</div>
					</div>
				</div>

				<div class="col-xs-4 col-md-4">
					<div class="product">
						<div class="banner" ng-click="viewItem()">
							<img src="<%= asset_path("product-002.png") %>" width="100%">
						</div>
						<div class="caption">
							<p>Product Title Here<br/><span>Short description here</span></p>
							<span class="amount">$ 336.50</span>
							<a class="cmd like"></a>
							<a class="cmd add"></a>
						</div>
					</div>
				</div>

				<div class="col-xs-4 col-md-4">
					<div class="product">
						<div class="banner" ng-click="viewItem()">
							<img src="<%= asset_path("product-002.png") %>" width="100%">
						</div>
						<div class="caption">
							<p>Product Title Here<br/><span>Short description here</span></p>
							<span class="amount">$ 336.50</span>
							<a class="cmd like"></a>
							<a class="cmd add"></a>
						</div>
					</div>
				</div>

				<div class="col-xs-4 col-md-4">
					<div class="product">
						<div class="banner" ng-click="viewItem()">
							<img src="<%= asset_path("product-002.png") %>" width="100%">
						</div>
						<div class="caption">
							<p>Product Title Here<br/><span>Short description here</span></p>
							<span class="amount">$ 336.50</span>
							<a class="cmd like"></a>
							<a class="cmd add"></a>
						</div>
					</div>
				</div>

				<div class="col-xs-4 col-md-4">
					<div class="product">
						<div class="banner" ng-click="viewItem()">
							<img src="<%= asset_path("product-002.png") %>" width="100%">
						</div>
						<div class="caption">
							<p>Product Title Here<br/><span>Short description here</span></p>
							<span class="amount">$ 336.50</span>
							<a class="cmd like"></a>
							<a class="cmd add"></a>
						</div>
					</div>
				</div>

				<div class="col-xs-4 col-md-4">
					<div class="product">
						<div class="banner" ng-click="viewItem()">
							<img src="<%= asset_path("product-002.png") %>" width="100%">
						</div>
						<div class="caption">
							<p>Product Title Here<br/><span>Short description here</span></p>
							<span class="amount">$ 336.50</span>
							<a class="cmd like"></a>
							<a class="cmd add"></a>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-12">
						<div class="dv-pager">
							<nav>
							  <ul class="pagination">
							    <li>
							      <a href="#" aria-label="Previous">
							        <span aria-hidden="true">&laquo;</span>
							      </a>
							    </li>
							    <li><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
							      <a href="#" aria-label="Next">
							        <span aria-hidden="true">&raquo;</span>
							      </a>
							    </li>
							  </ul>
							</nav>
						</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="dv-filter-container">
				<div class="dv-container-sort">
					<div class="form-group">
						<div class="icon-elephant-sm"></div>
						<h4 class="lbl-orange">Sort Products</h4>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-10">
								<input type="text" class="form-control fld-sort"  placeholder="Sort by Name" >
							</div>
							<div class="col-md-2">
								<div class="btn-sort-small"></div>
							</div>
						</div>
					<div>
				</div>

				<div class="dv-container-search">
					<div class="form-group">
						<div class="icon-duck-sm"></div>
						<h4 class="lbl-orange">Search Brand</h4>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-10">
								<input type="text" class="form-control fld-search"  placeholder="Search by Brand" >
							</div>
							<div class="col-md-2">
								<div class="btn-search-small"></div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="dv-container-price-range">
					<div class="form-group">
						<div class="icon-tag-small"></div>
						<h4 class="lbl-orange">Price Range</h4>
					</div>
					<div class="form-group">
						<div class="icon-scroll"></div>
						<div class="icon-price-range"></div>
					</div>
				</div>

				<div class="dv-container-history">
					<div class="form-group">
						<h4 class="lbl-orange-2">History</h4>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="dv-history-item-container">
								<div class="col-md-8">
									<p>Disney Pixar Inter-active Series - talking Nemo</p>
									<span class="amount">$ 549.9</span>
								</div>
								<div class="col-md-4">
									<div class="dv-history-image-container">
										<img src="<%= asset_path("img-0001.png") %>" width="100%">

									</div>
								</div>
								<div class="clear"></div>
								<div class="col-md-12">
									<div class="dv-separator"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="dv-history-item-container">
								<div class="col-md-8">
									<p>LEGO CITY - Demo lition Site</p>
									<span class="amount">$ 1,190</span>
								</div>
								<div class="col-md-4">
									<div class="dv-history-image-container">
										<img src="<%= asset_path("img-0002.png") %>" width="100%">
									</div>
								</div>
								<div class="clear"></div>
								<div class="col-md-12">
									<div class="dv-separator"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="dv-history-item-container">
								<div class="col-md-8">
									<p>Watch Kidzoom Smart Watch - Blue</p>
									<span class="amount">$ 990.5</span>
								</div>
								<div class="col-md-4">
									<div class="dv-history-image-container">
										<img src="<%= asset_path("img-0003.png") %>" width="100%">
									</div>
								</div>
								<div class="clear"></div>
								<div class="col-md-12">
									<div class="dv-separator"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="dv-container-tag">
					<div class="form-group">
						<h4 class="lbl-orange-2">Tag</h4>
					</div>
					<div class="form-group">
					</div>
				</div>

				<div class="dv-container-featured-product">
					<div class="form-group">
						<h4 class="lbl-orange-2">Featured Product</h4>
					</div>
					<div class="form-group">
						<div class="dv-featured-product-container">
							<div class="dv-top-featured-product-container">
								<img src="<%= asset_path("img-featured-product.png") %>" width="100%">
							</div>
						</div>
					</div>
				</div>

				<div class="dv-container-brand">
					<div class="form-group">
						<h4 class="lbl-orange-2">Featured Product</h4>
					</div>
					<div class="form-group">
						<div class="col-md-4">
							<div class="dv-brand-container">
								<img src="<%= asset_path("img-petit-brand.png") %>" width="71px" height="70px">
							</div>
						</div>
						<div class="col-md-4">
							<div class="dv-brand-container">
								<img src="<%= asset_path("img-levis-brand.png") %>" width="71px" height="70px">
							</div>
						</div>
						<div class="col-md-4">
							<div class="dv-brand-container">
								<img src="<%= asset_path("img-blank-brand.png") %>" width="71px" height="70px">
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4">
							<div class="dv-brand-container">
								<img src="<%= asset_path("img-blank-brand.png") %>" width="71px" height="70px">
							</div>
						</div>
						<div class="col-md-4">
							<div class="dv-brand-container">
								<img src="<%= asset_path("img-blank-brand.png") %>" width="71px" height="70px">
							</div>
						</div>
						<div class="col-md-4">
							<div class="dv-brand-container">
								<img src="<%= asset_path("img-blank-brand.png") %>" width="71px" height="70px">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>